*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;  
    cursor: pointer;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #25556188;
    height:100vh;
    width: 100vw;
    --main-color:#014458;
}
header h1{
    width: 100%;
    text-align:center;
    padding: 1em;
    color: var(--main-color);
    font-size: 1.6em;
}
main{
    width: 300px;
    border-radius: 3em;
    margin: auto;
} 
main #screen{
    position: relative;
    background-color:var(--main-color);
    overflow:hidden;
    color: #343434;
    border: 5px solid var(--main-color);
    text-align: end;
}
main #screen,main #previous{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
main #output,main #previous{
    background-color: rgba(190, 245, 245, 0.952);
    padding: 10px 8px 0px 0px;
}
main #output{
    padding-top: 10px;
    font-size: 1.6em;
    height: 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
main #previous{
    height: 40px;
    font-size: 1.3rem;
}
main #numbers{
    padding: 0em 0em 1.1em 1.2em;
    background-color: var(--main-color);
    border-radius: 1em;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 75%;
    min-height: 350px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
}
main #numbers button{
    background-color: #02011b;
    color: #c3eefc;
    font-size: 1.5em;
    height: 70px;
    width: 65px;
    border:0.2px solid var(--main-color);
    border-radius: 10px;
    outline: none;
}
main #numbers button:hover{
    opacity: 0.9;
}
main #numbers button:active{
    opacity: 0.85;
}
main #numbers button[data-equals]{
    flex-basis:130px;
    font-size: 3.5em;
    background-color: #02011b;
}
main #numbers button[data-clear]{
    background-color: #041d4dd8;
    color: #e01a1a;
}
main #numbers button[data-clear],main #numbers button[data-equals]{
    border-radius: 5px;
}